<header class="top-bar" id="top-bar">
    <div class="top-bar-content">
        <div class="left">
            <button id="tasks-btn" class="menu-btn"></button>
        </div>

        <div class="middle">
            <div class="top-bar-handle" id="top-bar-handle">
                <span class="arrow">⌃</span>
            </div>
        </div>

        <div class="right">
            <select id="language-select">
                <option value="en">EN</option>
                <option value="hu">HU</option>
            </select>
        </div>
    </div>
</header>
