/* Import modular styles */
@import './style/app.css';
@import './style/header.css';
@import './style/board.css';
@import './style/task.css';
@import './style/tooltip.css';

:root {
    --bg-main: #ffffff;
    --bg-surface: #f5f5f5;
    --bg-elevated: #ffffff;

    --tooltip-bg: #ecece2;
    --tooltip-text: #000000;

    --shadow-color: rgba(0, 0, 0, 0.2);

    --text-main: #111111;
    --text-muted: #555555;

    --border-main: #cccccc;
    --accent: #3ea6ff;

    --btn-hover: rgba(0, 0, 0, 0.06);
    --sticky-note-yellow: #fffb7d;
}

:root[data-theme="dark"] {
    --bg-main: #0f0f0f;
    --bg-surface: #181818;
    --bg-elevated: #202020;

    --tooltip-bg: #424242;
    --tooltip-text: #ffffff;

    --shadow-color: rgba(0, 0, 0, 0.2);

    --text-main: #eaeaea;
    --text-muted: #aaaaaa;

    --border-main: #303030;
    --accent: #3ea6ff;

    --btn-hover: rgba(255, 255, 255, 0.08);
    --sticky-note-yellow: #fff176;
}

/* Reset and global styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  color: var(--text-main);
}

.app {
    visibility: visible;
}
